@font-face {
  font-family: "iconfont"; /* Project id 2634361 */
  src: url('iconfont.woff2?t=1624628846344') format('woff2'),
       url('iconfont.woff?t=1624628846344') format('woff'),
       url('iconfont.ttf?t=1624628846344') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Fma:before {
  content: "\e600";
}

.icon-qiye:before {
  content: "\e646";
}

.icon-qian:before {
  content: "\e64c";
}

.icon-3:before {
  content: "\e605";
}

.icon-shijian:before {
  content: "\eeef";
}

.icon-qian1:before {
  content: "\e65e";
}

.icon-iconfontjiantou2:before {
  content: "\e632";
}

.icon-sousuo:before {
  content: "\e625";
}

